flows.json
[{"id":"6a101ce0.1cd714","type":"tab","label":"OPC Client flow","disabled":false,"info":""},{"id":"9b05afd9.ded","type":"inject","z":"6a101ce0.1cd714","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":380,"y":160,"wires":[["c5e3642a.27dba8"]]},{"id":"c5e3642a.27dba8","type":"OpcUa-Item","z":"6a101ce0.1cd714","item":"ns=3;i=1007","datatype":"Double","value":"","name":"","x":480,"y":240,"wires":[["34fc9e39.f0dcc2"]]},{"id":"34fc9e39.f0dcc2","type":"OpcUa-Client","z":"6a101ce0.1cd714","endpoint":"a105df97.27c82","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":600,"y":320,"wires":[["4cf7b28f.fc10bc"]]},{"id":"4cf7b28f.fc10bc","type":"debug","z":"6a101ce0.1cd714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"a105df97.27c82","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:53530/OPCUA/SimulationServer","secpol":"None","secmode":"None","login":false}]